.list-group-item {
    cursor: pointer;
}

.list-group-item-text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    &.visible{
        max-height: 500px;
        opacity: 1;
        transition: all 0.5s ease-in;
    }
}